:root {
    --mdc-theme-background: #EEEEEE;
	--mdc-theme-primary: #2979ff;
}
html {
	font-family: "Google Sans", "Roboto", sans-serif;
	background: #f5f5f5;
}
.mdc-button {
	font-family: "Google Sans", "Roboto", sans-serif;
}
.app-bar {
	left: 0;
	right: 0;
	min-width: 325px;
	position: fixed;
	z-index: 7;
	margin-top: -8px;
	background-color: #2979ff;
	color: white;
}
.mdc-top-app-bar__title {
	font-family: "Product Sans", "Roboto", sans-serif;
	margin-left: -8px;
}
.card-media {
	margin-bottom: 0px;
	border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
	position: relative;
    overflow: hidden;
}
.card-title {
	margin-left: 15px;
	margin-bottom: -5px;
	margin-right: 15px;
	margin-top: 15px;
	font-size: 30px;
	color: #424242;
	font-family: "Google Sans", "Roboto", sans-serif;
}
.mdc-card {
	min-width: 297px;
    margin-bottom: 10px;
	display: inline-block;
	text-align: left;
	vertical-align: top;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 0px 5px rgba(35, 35, 34, 0.28);
}
.mdc-card__actions {
	margin-top: -6px;
}
.horizontal-line {
	height: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #E0E0E0;
	width: 100%;
	display: inline-block;
}
.stat-description {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 20px;
	color: #9E9E9E;
	font-weight: 400;
	padding-right: 20px;
}
.myChart {
	height: 300px;
    width: 100%;
	margin-top: -10px;
	margin-bottom: -115px;
	display: inline-block;
	overflow: hidden;
}
.chart-name {
	text-align: center;
	color: #757575;
	margin-top: 8px;
	margin-bottom: 20px;
}
.last-chart-name {
	margin-bottom: 0px;
}
#notfoundtext {
	margin-top: 35px;
	min-width: 205px;
    color: #757575;
}
.zip-description {
	margin-left: 20px;
	color: #757575;
	font-weight: 400;
	margin-right: 20px;
	font-size: 17px;
}
#zipcode {
    margin-top: 1px;
}
.status-title {
	margin-top: 0px;
	padding-left: 15px;
	padding-bottom: 8px;
	padding-top: 9px;
	margin-bottom: 0px;
	font-size: 20px;
	overflow: hidden;
	border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
	position: relative;
	color: #424242;
	background-color: #E0E0E0;
}
.status-timing {
	margin-top: 0px;
	padding-left: 15px;
	padding-top: 4px;
	font-size: 15px;
	color: #BDBDBD;
}
.warning-title {
	color: #a31818;
	background-color: #FFCDD2;
}
.advisory-title {
	color: #a34700;
	background-color: #FFE082;
}
.watch-title {
	color: #006064;
	background-color: #B2EBF2;
}
#nomessage {
	display: none;
}
#message1 {
	display: none;
}
.label {
    background: #bdbdbd;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 1px;
    border-radius: 8px;
    margin-right: 4px;
}
.key-description {
    margin-left: 20px;
	color: #757575;
	font-weight: 400;
	margin-top: 15px;
	margin-right: 20px;
	font-size: 17px;
    padding-bottom: 10px;
}
.key-title {
    margin-left: 20px;
    color: #424242;
}
#warning {
    background: #ffcdd2;
    color: #b71c1c;
}
#advisory {
    background: #ffe082;
    color: #a34700;
}
#watch {
    background: #b2ebf2;
    color: #006064;
}
#notice {
    background: #E0E0E0;
    color: #424242;
}
.hide-menu {
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
}
#arrow {
    position: absolute;
    right: 20px;
    margin-top: -55px;
}
#key-hide {
    display: none;
}
#top-bar-img {
    width: 35px;
    margin-left: 10px;
}
#NWS-card {
    display: none;
    margin-top: 1px;
    padding-bottom: 20px;
}
.NWS-alert {
    border-radius: 12px;
    color: white;
    padding: 10px;
    padding-left: 15px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}
.NWS-button {
    position: absolute;
    right: 30px;
    margin-top: -13px;
}
.NWS-description {
    display: none;
    background: #eeeeee;
    color: #212121;
    margin-left: -15px;
    margin-top: 8px;
    margin-right: -10px;
    margin-bottom: -10px;
    border-radius: 0px 0px 12px 12px;
    padding: 15px;
    font-size: 14px;
}
