:root {
    --mdc-theme-background: #EEEEEE;
		--mdc-theme-primary: #1976D2;
    --mdc-theme-text-primary-on-primary: white;
    --mdc-theme-text-secondary-on-primary: hsla(0,0%,100%,.7);
    --mdc-theme-text-hint-on-primary: hsla(0,0%,100%,.5);
    --mdc-theme-text-disabled-on-primary: hsla(0,0%,100%,.5);
    --mdc-theme-text-icon-on-primary: hsla(0,0%,100%,.5);
    --mdc-theme-text-primary-on-accent: #fff;
    --mdc-theme-text-secondary-on-accent: hsla(0,0%,100%,.7);
    --mdc-theme-text-hint-on-accent: hsla(0,0%,100%,.5);
    --mdc-theme-text-disabled-on-accent: hsla(0,0%,100%,.5);
    --mdc-theme-text-icon-on-accent: hsla(0,0%,100%,.5);
    --mdc-theme-text-primary-on-background: rgba(0,0,0,.87);
    --mdc-theme-text-secondary-on-background: rgba(0,0,0,.54);
    --mdc-theme-text-hint-on-background: rgba(0,0,0,.38);
    --mdc-theme-text-disabled-on-background: rgba(0,0,0,.38);
    --mdc-theme-text-icon-on-background: rgba(0,0,0,.38);
    --mdc-theme-text-primary-on-light: rgba(0,0,0,.87);
    --mdc-theme-text-secondary-on-light: rgba(0,0,0,.54);
    --mdc-theme-text-hint-on-light: rgba(0,0,0,.38);
    --mdc-theme-text-disabled-on-light: rgba(0,0,0,.38);
    --mdc-theme-text-icon-on-light: rgba(0,0,0,.38);
    --mdc-theme-text-primary-on-dark: #fff;
    --mdc-theme-text-secondary-on-dark: hsla(0,0%,100%,.7);
    --mdc-theme-text-hint-on-dark: hsla(0,0%,100%,.5);
    --mdc-theme-text-disabled-on-dark: hsla(0,0%,100%,.5);
    --mdc-theme-text-icon-on-dark: hsla(0,0%,100%,.5);
}
html {
	font-family: "Google Sans", "Roboto", sans-serif;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	background-color: #EEEEEE;
}
.mdc-button {
	font-family: "Google Sans", "Roboto", sans-serif;
}
.app-bar {
	left: 0;
	right: 0;
	min-width: 325px;
	position: fixed;
	z-index: 7;
	margin-top: -8px;
	background-color: #1976D2;
	color: white;
}
.mdc-top-app-bar__title {
	font-family: "Product Sans", "Roboto", sans-serif;
	margin-left: -18px;
}
.adjust {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: -8px;
}
.mdc-top-app-bar__navigation-icon {
	margin-left: 10px;
}
.content {
	color: #BDBDBD;
	font-weight: 500;
	font-size: 20px;
	margin-right: -13px;
	margin-left: -13px;
}
.animate {
	-o-transition: .16s;
  -ms-transition: .16s;
  -moz-transition: .16s;
  -webkit-transition: .16s;
  transition: .16s;
}
.visible {
	position: relative;
	visibility: visible;
}
.hidden {
	position: absolute;
	visibility: hidden;
	bottom: 0px;
	display: block;
	overflow: hidden;
	width: 0px;
	height: 0px;
}
.card-media {
	margin-bottom: 0px;
	border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
	position: relative;
  overflow: hidden;
}
.card-title {
	margin-left: 15px;
	margin-bottom: -5px;
	margin-right: 15px;
	margin-top: 15px;
	font-size: 30px;
	color: #424242;
	font-family: "Google Sans", "Roboto", sans-serif;
}
.mdc-card {
	margin-top: 14px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 0px;
	min-width: 297px;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
.card-wrapper {
	text-align: left;
	width: calc(100% + 14px);
	margin-left: -14px;
	margin-left: -14px;
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom: 18px;
}
.mdc-card__actions {
	margin-top: -6px;
}
.horizontal-line {
	height: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #E0E0E0;
	width: 100%;
	display: inline-block;
}
.stat-description {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 20px;
	color: #9E9E9E;
	font-weight: 400;
	padding-right: 20px;
}
.hide-menu {
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
}
.myChart {
	height: 300px;
  width: 100%;
	margin-top: -10px;
	margin-bottom: -115px;
	display: inline-block;
	overflow: hidden;
}
.chart-name {
	text-align: center;
	color: #757575;
	margin-top: 8px;
	margin-bottom: 20px;
}
.last-chart-name {
	margin-bottom: 0px;
}
#loading {
	text-align: center;
}
.loading-image {
	display: inline-block;
	margin-top: 100px;
	width: 100px;
}
#page404 {
	margin-left: 0px;
	text-align: center;
}
#page404 button {
	min-width: 205px;
	margin-right: 0px;
}
#notfoundtext {
	margin-top: 35px;
	min-width: 205px;	color: #757575;
}
#zipcode {
	margin: auto;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 15px;
	padding-top: 6px;
	padding: auto;
	padding-bottom: 5px;
}
#zipcode .card-title {
	margin-top: 7px;
	margin-left: 15px;
	margin-bottom: 0px;
	padding-top: 4px;
}
#zip-description {
	margin-left: 20px;
	color: #9E9E9E;
	font-weight: 400;
	margin-top: 15px;
	margin-right: 20px;
	font-size: 17px;
}
.status-title {
	margin-top: 0px;
	padding-left: 15px;
	padding-bottom: 8px;
	padding-top: 9px;
	margin-bottom: 0px;
	font-size: 20px;
	overflow: hidden;
	border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
	position: relative;
	color: #424242;
	background-color: #E0E0E0;
}
.status-timing {
	margin-top: 0px;
	padding-left: 15px;
	padding-top: 4px;
	font-size: 15px;
	color: #BDBDBD;
}
.warning-title {
	color: #a31818;
	background-color: #FFCDD2;
}
.advisory-title {
	color: #a34700;
	background-color: #FFE082;
}
.watch-title {
	color: #006064;
	background-color: #B2EBF2;
}
#nomessage {
	display: none;
}
#message1 {
	display: none;
}
#copy {
	position: absolute;
	top: -30px;
}
