:root {
    /* --mdc-theme-primary: #c51162; */
    --mdc-theme-primary: #1976d2;
    --mdc-theme-background: white;
    --mdc-theme-text-primary-on-primary: white;
    --mdc-theme-text-secondary-on-primary: hsla(0,0%,100%,.7);
    --mdc-theme-text-hint-on-primary: hsla(0,0%,100%,.5);
    --mdc-theme-text-disabled-on-primary: hsla(0,0%,100%,.5);
    --mdc-theme-text-icon-on-primary: hsla(0,0%,100%,.5);
    --mdc-theme-text-primary-on-accent: #fff;
    --mdc-theme-text-secondary-on-accent: hsla(0,0%,100%,.7);
    --mdc-theme-text-hint-on-accent: hsla(0,0%,100%,.5);
    --mdc-theme-text-disabled-on-accent: hsla(0,0%,100%,.5);
    --mdc-theme-text-icon-on-accent: hsla(0,0%,100%,.5);
    --mdc-theme-text-primary-on-background: rgba(0,0,0,.87);
    --mdc-theme-text-secondary-on-background: rgba(0,0,0,.54);
    --mdc-theme-text-hint-on-background: rgba(0,0,0,.38);
    --mdc-theme-text-disabled-on-background: rgba(0,0,0,.38);
    --mdc-theme-text-icon-on-background: rgba(0,0,0,.38);
    --mdc-theme-text-primary-on-light: rgba(0,0,0,.87);
    --mdc-theme-text-secondary-on-light: rgba(0,0,0,.54);
    --mdc-theme-text-hint-on-light: rgba(0,0,0,.38);
    --mdc-theme-text-disabled-on-light: rgba(0,0,0,.38);
    --mdc-theme-text-icon-on-light: rgba(0,0,0,.38);
    --mdc-theme-text-primary-on-dark: #fff;
    --mdc-theme-text-secondary-on-dark: hsla(0,0%,100%,.7);
    --mdc-theme-text-hint-on-dark: hsla(0,0%,100%,.5);
    --mdc-theme-text-disabled-on-dark: hsla(0,0%,100%,.5);
    --mdc-theme-text-icon-on-dark: hsla(0,0%,100%,.5);
}
html {
	font-family: "Google Sans", "Roboto", sans-serif;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	background-color: #EEEEEE;
}
.mdc-button {
	font-family: "Google Sans", "Roboto", sans-serif;
}
.mdc-top-app-bar {
	left: 0px;
	top: 0px;
}
.mdc-top-app-bar__title {
	font-family: "Product Sans", "Roboto", sans-serif;
	margin-left: -18px;
}
.mdc-dialog__title {
	font-family: "Google Sans", "Roboto", sans-serif;
}
.mdc-tab__text-label {
	font-family: "Google Sans", "Roboto", sans-serif;
}
.mdc-dialog__content {
	font-family: "Google Sans", "Roboto", sans-serif;
}
.mdc-top-app-bar--fixed-adjust {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 50px;
}
.mdc-top-app-bar__navigation-icon {
	margin-left: 10px;
}
.tab-bar {
	background-color: white;
	height: 48px;
}
.content {
	color: #BDBDBD;
	font-weight: 500;
	font-size: 20px;
	margin-right: -13px;
	margin-left: -13px;
}
.mdc-dialog__scrim {
	-o-transition: .16s;
  -ms-transition: .16s;
  -moz-transition: .16s;
  -webkit-transition: .16s;
  transition: .16s;
}
.mdc-dialog__container {
	-o-transition: .16s;
  -ms-transition: .16s;
  -moz-transition: .16s;
  -webkit-transition: .16s;
  transition: .16s;
}
.visible {
	position: relative;
	visibility: visible;
}
.hidden {
	position: absolute;
	visibility: hidden;
	bottom: 0px;
	display: block;
	overflow: hidden;
	width: 0px;
	height: 0px;
}
.card-media {
	margin-bottom: 0px;
	border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
	position: relative;
  overflow: hidden;
}
.card-title {
	margin-left: 20px;
	margin-bottom: 0px;
	margin-right: 15px;
	margin-top: 20px;
	font-size: 30px;
	color: #616161;
	font-family: "Google Sans", "Roboto", sans-serif;
}
.mdc-card {
	margin-top: 14px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 0px;
	min-width: 297px;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
.card-wrapper {
	text-align: left;
	width: calc(100% + 14px);
	margin-left: -14px;
	margin-left: -14px;
	padding-left: 7px;
	padding-right: 7px;
}
.mdc-card__actions {
	margin-top: -6px;
}
.horizontal-line {
	height: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #E0E0E0;
	width: 100%;
	display: inline-block;
}
.stat-description {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 20px;
	color: #9E9E9E;
	font-weight: 400;
}
.stat-number {
	margin-right: 20px;
	margin-top: -25px;
	margin-bottom: 0px;
	font-size: 20px;
	color: #757575;
	text-align: right;
	font-weight: 500;
}
.hide-menu {
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
}
#loading {
	text-align: center;
}
.loading-image {
	display: inline-block;
	margin-top: 100px;
	width: 100px;
}
.fullscreen-map {
	position: absolute;
	background-color: #FAFAFA;
	bottom: 7px;
	right: 7px;
	height: 35px;
	width: 35px;
	padding-top: -1px;
	padding-left: 6px;
	border: none;
	border-radius: 7px;
	outline: none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #757575;
	display: inline-block;
}
.fullscreen-map:hover {
	background-color: #EEEEEE;
}
.fullscreen-map:active {
	background-color: #BDBDBD;
}
#page404 {
	margin-left: 0px;
	text-align: center;
}
#page404 button {
	min-width: 205px;
	margin-right: 0px;
}
#dashboard {
	margin-left: 10px;
}
#notfoundtext {
	margin-top: 35px;
	min-width: 205px;	color: #757575;
}
.myChart {
	height: 300px;
  width: 100%;
	margin-bottom: -115px;
	display: inline-block;
	overflow: hidden;
}
#zipcode {
	margin: auto;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 15px;
	padding-top: 6px;
	padding: auto;
	padding-bottom: 5px;
}
#zipcode .card-title {
	margin-top: 10px;
	margin-left: 15px;
	padding: auto;
}
.footer {
	right: 0;
	position: absolute;
	background-color: #455A64;
	left: 0;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 30px;
	padding-left: 45px;
	padding-bottom: 30px;
	padding-top: 50px;
	padding-right: 28px;
	min-width: 252px;
}
.footer-text {
	margin-top: -14px;
	color: #CFD8DC;
	font-size: 17px;
	font-weight: 200;
}
.footer-header {
	color: white;
	font-weight: 500;
	padding-bottom: 9px;
	margin-top: 0px;
	margin-left: -12px;
}
.footer-bar {
	height: 20px;
	position: absolute;
	background-color: #78909C;
	top: 0;
	left: 0;
	width: 100%;
}
.copyright {
	position: absolute;
	right: 10px;
	bottom: 5px;
	color: #90A4AE;
	font-size: 15px;
}
.footer-text a:hover {
	cursor: pointer;
	color: #90CAF9;
}
