:root {
    /* --mdc-theme-primary: #c51162; */
    --mdc-theme-primary: #1976d2;
    --mdc-theme-background: white;
    --mdc-theme-text-primary-on-primary: white;
    --mdc-theme-text-secondary-on-primary: hsla(0,0%,100%,.7);
    --mdc-theme-text-hint-on-primary: hsla(0,0%,100%,.5);
    --mdc-theme-text-disabled-on-primary: hsla(0,0%,100%,.5);
    --mdc-theme-text-icon-on-primary: hsla(0,0%,100%,.5);
    --mdc-theme-text-primary-on-accent: #fff;
    --mdc-theme-text-secondary-on-accent: hsla(0,0%,100%,.7);
    --mdc-theme-text-hint-on-accent: hsla(0,0%,100%,.5);
    --mdc-theme-text-disabled-on-accent: hsla(0,0%,100%,.5);
    --mdc-theme-text-icon-on-accent: hsla(0,0%,100%,.5);
    --mdc-theme-text-primary-on-background: rgba(0,0,0,.87);
    --mdc-theme-text-secondary-on-background: rgba(0,0,0,.54);
    --mdc-theme-text-hint-on-background: rgba(0,0,0,.38);
    --mdc-theme-text-disabled-on-background: rgba(0,0,0,.38);
    --mdc-theme-text-icon-on-background: rgba(0,0,0,.38);
    --mdc-theme-text-primary-on-light: rgba(0,0,0,.87);
    --mdc-theme-text-secondary-on-light: rgba(0,0,0,.54);
    --mdc-theme-text-hint-on-light: rgba(0,0,0,.38);
    --mdc-theme-text-disabled-on-light: rgba(0,0,0,.38);
    --mdc-theme-text-icon-on-light: rgba(0,0,0,.38);
    --mdc-theme-text-primary-on-dark: #fff;
    --mdc-theme-text-secondary-on-dark: hsla(0,0%,100%,.7);
    --mdc-theme-text-hint-on-dark: hsla(0,0%,100%,.5);
    --mdc-theme-text-disabled-on-dark: hsla(0,0%,100%,.5);
    --mdc-theme-text-icon-on-dark: hsla(0,0%,100%,.5);
}
html {
		font-family: "Google Sans", "Roboto", sans-serif;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.mdc-button {
	font-family: "Google Sans", "Roboto", sans-serif;
}
.mdc-top-app-bar {
    left: 0px;
    top: 0px;
}
.mdc-top-app-bar__title {
		font-family: "Product Sans", "Roboto", sans-serif;
		margin-left: -18px;
}
.mdc-dialog__title {
	font-family: "Google Sans", "Roboto", sans-serif;
}
.mdc-tab__text-label {
	font-family: "Google Sans", "Roboto", sans-serif;
}
.mdc-dialog__content {
	font-family: "Google Sans", "Roboto", sans-serif;
}
.mdc-top-app-bar--fixed-adjust {
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 50px;
}
.mdc-top-app-bar__navigation-icon {
		margin-left: 10px;
}
.tab-bar {
		background-color: #f5f5f5;
		height: 48px;
}
.content {
	color: #BDBDBD;
	font-weight: 500;
	font-size: 20px;
	margin-right: -13px;
	margin-left: -13px;
}
.mdc-dialog__scrim {
	-o-transition: .16s;
  -ms-transition: .16s;
  -moz-transition: .16s;
  -webkit-transition: .16s;
  transition: .16s;
}
.mdc-dialog__container {
	-o-transition: .16s;
  -ms-transition: .16s;
  -moz-transition: .16s;
  -webkit-transition: .16s;
  transition: .16s;
}
.visible {
	position: relative;
	visibility: visible;
}
.hidden {
	position: absolute;
	visibility: hidden;
	bottom: 0px;
}
.card-media {
	margin-bottom: 0px;
	border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
	position: relative;
  overflow: hidden;
}
.map-frame {
	margin-top: 0px;
	overflow: hidden;
	border-radius: 10px;
}
.cover-credits {
	height: 21px;
	margin-bottom: -49px;
	position: relative;
	background-color: white;
	bottom: 27px;
}
.card-title {
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 20px;
	font-size: 30px;
	color: #616161;
	font-family: "Google Sans", "Roboto", sans-serif;
}
.mdc-card {
	margin-top: 14px;
	margin-left: 7px;
	margin-right: 7px;
	max-width: 400px;
	min-width: 297px;
	width: calc(100% - 14px);
	margin-bottom: 0px;
	display: inline-block;
	text-align: left;
}
.card-wrapper {
	text-align: center;
	width: calc(100% + 16px);
	margin-left: -15px;
	margin-left: -15px;
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom: 17px;
}
.mdc-card__actions {
	margin-top: -6px;
}
.horizontal-line {
	height: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #E0E0E0;
	width: 100%;
	display: inline-block;
}
.stat-description {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 20px;
	color: #9E9E9E;
	font-weight: 400;
}
.stat-number {
	margin-right: 20px;
	margin-top: -25px;
	margin-bottom: 0px;
	font-size: 20px;
	color: #757575;
	text-align: right;
	font-weight: 500;
}
.loading-image {
	position: absolute;
	width: 30%;
	left: 35%;
	top: 100px;
}