:root {
	--mdc-theme-primary: #c51162;
	--mdc-theme-accent: #8e0038;
	--mdc-theme-background: white;
	--mdc-theme-text-primary-on-primary: white;
	--mdc-theme-text-secondary-on-primary: hsla(0,0%,100%,.7);
	--mdc-theme-text-hint-on-primary: hsla(0,0%,100%,.5);
	--mdc-theme-text-disabled-on-primary: hsla(0,0%,100%,.5);
	--mdc-theme-text-icon-on-primary: hsla(0,0%,100%,.5);
	--mdc-theme-text-primary-on-accent: #fff;
	--mdc-theme-text-secondary-on-accent: hsla(0,0%,100%,.7);
	--mdc-theme-text-hint-on-accent: hsla(0,0%,100%,.5);
	--mdc-theme-text-disabled-on-accent: hsla(0,0%,100%,.5);
	--mdc-theme-text-icon-on-accent: hsla(0,0%,100%,.5);
	--mdc-theme-text-primary-on-background: rgba(0,0,0,.87);
	--mdc-theme-text-secondary-on-background: rgba(0,0,0,.54);
	--mdc-theme-text-hint-on-background: rgba(0,0,0,.38);
	--mdc-theme-text-disabled-on-background: rgba(0,0,0,.38);
	--mdc-theme-text-icon-on-background: rgba(0,0,0,.38);
	--mdc-theme-text-primary-on-light: rgba(0,0,0,.87);
	--mdc-theme-text-secondary-on-light: rgba(0,0,0,.54);
	--mdc-theme-text-hint-on-light: rgba(0,0,0,.38);
	--mdc-theme-text-disabled-on-light: rgba(0,0,0,.38);
	--mdc-theme-text-icon-on-light: rgba(0,0,0,.38);
	--mdc-theme-text-primary-on-dark: #fff;
	--mdc-theme-text-secondary-on-dark: hsla(0,0%,100%,.7);
	--mdc-theme-text-hint-on-dark: hsla(0,0%,100%,.5);
	--mdc-theme-text-disabled-on-dark: hsla(0,0%,100%,.5);
	--mdc-theme-text-icon-on-dark: hsla(0,0%,100%,.5);
}
.mdc-top-app-bar {
	left: 0px;
	top: 0px;
}
.mdc-top-app-bar--fixed-adjust {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
}
